{% extends "cart/base.html" %}
{% load static %}
{% block title_block %}
   <title>Products | Life Style Store</title>
{% endblock %}
{% block js %}
{% endblock %}
{% block body_block %}


<div class="container" id="content">

          <!-- Jumbotron Header -->
          <div class="jumbotron home-spacer" id="products-jumbotron">
              <h1>Welcome to our Lifestyle Store!</h1>
              <p>We have the best cameras, watches and shirts for you. No need to hunt around, we have all in one place.</p>

          </div>
          <hr>

          <div class="row text-center" id="products">
            {% for i in product %}
              <div class="col-md-3 col-sm-6 home-feature">
                  <div class="thumbnail">
                      <img src='/media/{{i.product_pic}}' alt="">
                      <div class="caption">
                          <h3 id="namepr{{i.id}}">{{i.product_name}} </h3>
                          <p>Price: Rs.<span id="pricepr{{i.id}}">{{i.product_price}}</span></p>
                          <span id="divpr{{i.id}}" class="divpr">
                          <p><button class="btn btn-primary btn-block cart" id="pr{{i.id}}">Add to cart</button></p>
                          </span>
                      </div>
                  </div>
              </div>
              {% endfor %}
          </div>
{% endblock %}
